html, body {
  margin: 0;
  color: #333;
  background: #fff;
  font-size: 16px;
  font-family: "Tahoma", "Calibri", sans-serif;
}

.header {
  height: 100px;
  color: #ffffff;
  border-top: 3px solid #008000;
  background-color: rgba(0,0,0, .5);
}

.content {
  min-height: 200px;
  background-color: rgba(0,0,0, .1);
}

.footer {
  height: 200px;
  color: #ffffff;
  background-image: url("../Images/11.jpg");
  min-height: 200px;
}
.holder{
	width: 900px;
	height: 200px;
	margin: 0 auto;
}
.inner{
	;
	width: 900px;
	height: 100px;
	margin: 0 auto;
	border-bottom: 1px solid #7cfc00;
}

.inner{
	margin: 0 auto;
	text-align:center;
	margin: 0 auto;
}

.inner a{
	color:#fff;
	display: inline-block;
	width: 150px;
	height: 50px;
	margin:25px 5px 0 5px;
	text-decoration:none;
}
.bottom-foot{
	height:99px;
}
.logo{
	width: 100px;
}
.logo a{
	color:#fff;
	display: inline-block;
	width: 150px;
	height: 30px;
	margin:25px 5px 0 5px;
	text-decoration:none;
}
.powered{
	width: 200px;
	margin-left:auto;
	text-align:right;
	font-size: 13px;	
}
